<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= product.summary %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>