<h1> Store </h1>

<% @products.each do |p| %>
  <ul>
    <h4><li><%= p.title %></li></h4>

    <%= number_to_currency(p.price) %> <br />
    <%= link_to "Show", product_path(p.id) %>
  </ul>
<% end %>